Repository libsese/sese: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_build, gtest, pages

.gitlab/ci.yml:

stages:
  - build
  - test
  - deploy

docker_build:
  stage: build
  image: reg.mikumikumi.xyz/base/kaniko-builder
  variables:
    BUILD_CONTEXT: .
    BUILD_DOCKERFILE: docker/alpine-x64.dockerfile
  script:
    - build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'docker/alpine-x64.dockerfile'
        - 'requirements.txt'

docker_build_manual:
  stage: build
  image: reg.mikumikumi.xyz/base/kaniko-builder
  when: manual
  variables:
    BUILD_CONTEXT: .
    BUILD_DOCKERFILE: docker/alpine-x64.dockerfile
  script:
    - build

gtest:
  stage: test
  services:
    - mysql:latest
    - postgres:latest
  variables:
    MYSQL_ROOT_PASSWORD: libsese
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: libsese
    POSTGRES_HOST_AUTH_METHOD: trust
    PGPASSWORD: $POSTGRES_PASSWORD
    VCPKG_DEFAULT_BINARY_CACHE: $CI_PROJECT_DIR/vcpkg-archives
    ZIC: /usr/sbin/zic
  image: reg.mikumikumi.xyz/libsese/sese-core:latest
  allow_failure: true
  when: always
  cache:
    key:
      files:
        - vcpkg.json
    paths:
      - vcpkg-archives
  script:
    - mkdir -p vcpkg-archives
    # config cmake project
    - cmake
      -G Ninja
      -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake
      -DCMAKE_MAKE_PROGRAM=/usr/bin/ninja
      -DCMAKE_C_COMPILER=/usr/bin/gcc
      -DCMAKE_CXX_COMPILER=/usr/bin/g++
      -Bbuild/linux-release
      -DCMAKE_BUILD_TYPE=Release
      -DSESE_BUILD_TEST=ON
      -DSESE_USE_ARCHIVE=ON
      -DSESE_DB_USE_SQLITE=ON
      -DSESE_DB_USE_MARIADB=ON
      -DSESE_DB_USE_POSTGRES=ON
      -DSESE_REPLACE_EXECINFO=ON
      -DSESE_RESOURCE=ON
      -DSESE_DB_SQLITE_CONNECTION_STRING="/tmp/db_test.db"
      -DSESE_DB_MYSQL_CONNECTION_STRING="host=mysql\;port=3306\;user=root\;pwd=libsese\;db=db_test\;"
      -DSESE_DB_PSQL_CONNECTION_STRING="host=postgres\;port=5432\;user=postgres\;pwd=libsese\;db=db_test\;"
      -DCMAKE_CXX_FLAGS="--coverage -fprofile-update=atomic"
    - cmake --build build/linux-release -- -j 2
    # init database
    - mysql --user=root --password="$MYSQL_ROOT_PASSWORD" --host=mysql --port=3306 < ./scripts/mysql_dump.sql
    - psql -U postgres -d postgres -h postgres -p 5432 -f ./scripts/postgres_dump.sql
    - sqlite3 /tmp/db_test.db < ./scripts/sqlite_dump.sql
    # run tests
    - build/linux-release/sese/test/AllTestsInMain --gtest_output="xml:build/test_report.xml"
    - sed -i 's|/builds/libsese/sese-core||g' build/test_report.xml
    # make coverage reposts
    - mkdir -p build/coverage/html
    - gcovr --gcov-executable="/usr/lib/llvm17/bin/llvm-cov gcov"
  coverage: /^\s*lines:\s*\d+.\d+\%/
  artifacts:
    name: "${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}"
    paths:
      - build/coverage/html
    reports:
      junit: build/test_report.xml
      coverage_report:
        coverage_format: cobertura
        path: build/coverage/coverage.xml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'sese/**/*'
        - 'CMakeLists.txt'

pages:
  stage: deploy
  image: $CI_REGISTRY/base/roxy
  variables:
    PROJECT_PATH: /builds/libsese/sese-core
    DOXYFILE: docs/Doxyfile
    RESOURCE_FOLDER: static
    OUTPUT_FOLDER: build/html
  script:
    - /usr/local/bin/entrypoint.sh
    - python3 scripts/insert_meta.py --html_file=build/html/index.html --meta_file=docs/Meta.txt
    - mv build/html public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'docs/Doxyfile'
        - 'sese/**'
        - 'static/**'
        - 'README.md'

chore: update .cmake-format.yaml
  .cmake-format.yaml
Due: none

refactor: reorganize process management code and improve platform-specific handling
  sese/CMakeLists.txt
  sese/Config.h
  sese/DarwinConfig.h
  sese/LinuxConfig.h
  sese/WindowsConfig.h
  sese/internal/win/system/ProcessImpl.cpp
  sese/native/win/system/Process.cpp
  sese/system/Process.h
  sese/system/ProcessBuilder.cpp
  sese/system/ProcessBuilder.h
Due: gtest, pages

revert: sese/CMakeLists.txt
  sese/CMakeLists.txt
Due: gtest, pages

refactor: reorganize process management code and move implementation to internal directory
  sese/CMakeLists.txt
  sese/internal/unix/system/ProcessImpl.cpp
  sese/native/unix/system/Process.cpp
Due: gtest, pages

ci: h2spec
  .github/workflows/ubuntu.yml
  .gitignore
  cmake/Bundler.cmake
  requirements.txt
Due: docker_build

refactor(Logger): simplify logging methods and remove redundant overloads
  sese/record/Logger.cpp
  sese/record/Logger.h
Due: gtest

refactor(EncodingConverter): remove deprecated conversion methods and simplify implementation
  sese/convert/EncodingConverter.cpp
  sese/convert/EncodingConverter.h
  sese/test/TestEncodingConverter.cpp
Due: gtest

refactor(StackInfo): rename StackInfo.cpp to StackInfoImpl.cpp and simplify decodeSymbolName method
  sese/internal/darwin/system/StackInfoImpl.cpp
  sese/internal/linux/system/StackInfoImpl.cpp
  sese/internal/unix/system/StackInfoImpl.cpp
  sese/internal/win/system/StackInfoImpl.cpp
  sese/system/StackInfo.h
Due: gtest

refactor(IOBuf): remove iocp namespace and simplify IOBuf implementation
  sese/internal/service/http/HttpConnection.cpp
  sese/internal/service/http/HttpConnection.h
  sese/test/TestIOBuf.cpp
  sese/util/IOBuf.cpp
  sese/util/IOBuf.h
Due: gtest

refactor: move conversion-related files to util namespace
  sese/internal/unix/config/UniReader.cpp
  sese/internal/unix/system/SharedMemory.cpp
  sese/internal/win/config/UniReader.cpp
  sese/net/http/RequestHeader.cpp
  sese/net/ws/WebSocketAuthenticator.cpp
  sese/record/ConsoleAppender.cpp
  sese/test/TestBase64.cpp
  sese/test/TestCompressor.cpp
  sese/test/TestEncodingConverter.cpp
  sese/test/TestMessageDigest.cpp
  sese/test/TestPercentConverter.cpp
  sese/util/Base64Converter.cpp
  sese/util/Base64Converter.h
  sese/util/Compressor.cpp
  sese/util/Compressor.h
  sese/util/Decompressor.cpp
  sese/util/Decompressor.h
  sese/util/EncodingConverter.cpp
  sese/util/EncodingConverter.h
  sese/util/GZipFileInputStream.cpp
  sese/util/GZipFileInputStream.h
  sese/util/GZipFileOutputStream.cpp
  sese/util/GZipFileOutputStream.h
  sese/util/MD5Util.cpp
  sese/util/MD5Util.h
  sese/util/MessageDigest.cpp
  sese/util/MessageDigest.h
  sese/util/PercentConverter.cpp
  sese/util/PercentConverter.h
  sese/util/SHA1Util.cpp
  sese/util/SHA1Util.h
  sese/util/SHA256Util.cpp
  sese/util/SHA256Util.h
  sese/util/SymbolConverter.cpp
  sese/util/SymbolConverter.h
  sese/util/Util.cpp
  sese/util/ZlibConfig.h
Due: gtest

refactor(Bundler): add noexecstack option for Linux target linking
  cmake/Bundler.cmake
Due: none

refactor(FileLocker): simplify implementation and remove platform-specific files
  sese/internal/unix/system/FileLocker.cpp
  sese/internal/unix/system/FileLockerImpl.cpp
  sese/internal/unix/system/ProcessImpl.cpp
  sese/internal/win/system/FileLockImpl.cpp
  sese/internal/win/system/FileLocker.cpp
  sese/internal/win/system/ProcessImpl.cpp
  sese/system/FileLocker.h
  sese/system/FileNotifier.h
  sese/system/IPC.cpp
  sese/system/Process.h
Due: gtest

chore: update version to 3.0.0 in CMakeLists, Doxyfile, manifest.json, and vcpkg.json
  CMakeLists.txt
  docs/Doxyfile
  sese/manifest.json
  vcpkg.json
Due: gtest, pages

docs: update roadmap to reflect version 3.0.0
  ROADMAP.md
Due: none

refactor: remove RequestableFactory and related HTTP client implementations
  sese/internal/net/http/HttpClientImpl.cpp
  sese/internal/net/http/HttpClientImpl.h
  sese/internal/net/http/HttpSSLClientImpl.cpp
  sese/internal/net/http/HttpSSLClientImpl.h
  sese/net/http/HttpClient.h
  sese/net/http/RequestableFactory.cpp
  sese/net/http/RequestableFactory.h
  sese/test/TestHttpClient.cpp
  sese/test/TestService.cpp
Due: gtest

refactor(FileNotifier): simplify creation and callback setup, add .vscode/.gitignore
  .gitignore
  .vscode/.gitignore
  sese/internal/darwin/system/FileNotifierImpl.cpp
  sese/internal/linux/system/FileNotifierImpl.cpp
  sese/internal/win/system/FileNotifierImpl.cpp
  sese/system/FileNotifier.cpp
  sese/system/FileNotifier.h
  sese/test/TestFileNotifier.cpp
  sese/util/EncodingConverter.h
Due: gtest

refactor: rename LibraryLoader to Library and simplify implementation
  sese/internal/unix/system/LibraryImpl.cpp
  sese/internal/unix/system/LibraryLoader.cpp
  sese/internal/win/system/LibraryImpl.cpp
  sese/internal/win/system/LibraryLoader.cpp
  sese/plugin/Module.cpp
  sese/plugin/Module.h
  sese/system/Library.cpp
  sese/system/Library.h
  sese/test/TestLibrary.cpp
Due: gtest

fix(FileNotifierImpl): include Thread and atomic headers for improved functionality
  sese/internal/linux/system/FileNotifierImpl.cpp
Due: gtest

docs: update README.md
  README.md
Due: pages

refactor(Semaphore): restructure implementation with Pimpl idiom and remove platform-specific code
  sese/internal/unix/system/Semaphore.cpp
  sese/internal/unix/system/SemaphoreImpl.cpp
  sese/internal/win/system/Semaphore.cpp
  sese/internal/win/system/SemaphoreImpl.cpp
  sese/system/Semaphore.h
Due: gtest

refactor(SharedMemory): implement Pimpl idiom and remove platform-specific code
  sese/internal/unix/system/SharedMemory.cpp
  sese/internal/unix/system/SharedMemoryImpl.cpp
  sese/internal/win/system/SharedMemory.cpp
  sese/internal/win/system/SharedMemoryImpl.cpp
  sese/system/SharedMemory.h
Due: gtest

feat: add coroutine support for sese::async & thread pool
  sese/test/TestThread.cpp
  sese/thread/Async.h
  sese/thread/Promise.h
Due: gtest

feat: enhance coroutine support by introducing UseCoroutine and updating async functions
  sese/test/TestThread.cpp
  sese/thread/Async.h
  sese/thread/Promise.h
Due: gtest

fix[thread]: move constructor
  sese/thread/Thread.cpp
  sese/thread/Thread.h
Due: gtest
