Repository libsese/sese: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_build, gtest, pages

.gitlab/ci.yml:

stages:
  - build
  - test
  - deploy

docker_build:
  stage: build
  image: reg.mikumikumi.xyz/base/kaniko-builder
  variables:
    BUILD_CONTEXT: .
    BUILD_DOCKERFILE: docker/alpine-x64.dockerfile
  script:
    - build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'docker/alpine-x64.dockerfile'
        - 'requirements.txt'

docker_build_manual:
  stage: build
  image: reg.mikumikumi.xyz/base/kaniko-builder
  when: manual
  variables:
    BUILD_CONTEXT: .
    BUILD_DOCKERFILE: docker/alpine-x64.dockerfile
  script:
    - build

gtest:
  stage: test
  services:
    - mysql:latest
    - postgres:latest
  variables:
    MYSQL_ROOT_PASSWORD: libsese
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: libsese
    POSTGRES_HOST_AUTH_METHOD: trust
    PGPASSWORD: $POSTGRES_PASSWORD
    VCPKG_DEFAULT_BINARY_CACHE: $CI_PROJECT_DIR/vcpkg-archives
    ZIC: /usr/sbin/zic
  image: reg.mikumikumi.xyz/libsese/sese-core:latest
  allow_failure: true
  when: always
  cache:
    key:
      files:
        - vcpkg.json
    paths:
      - vcpkg-archives
  script:
    - mkdir -p vcpkg-archives
    # config cmake project
    - cmake
      -G Ninja
      -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake
      -DCMAKE_MAKE_PROGRAM=/usr/bin/ninja
      -DCMAKE_C_COMPILER=/usr/bin/gcc
      -DCMAKE_CXX_COMPILER=/usr/bin/g++
      -Bbuild/linux-release
      -DCMAKE_BUILD_TYPE=Release
      -DSESE_BUILD_TEST=ON
      -DSESE_USE_ARCHIVE=ON
      -DSESE_DB_USE_SQLITE=ON
      -DSESE_DB_USE_MARIADB=ON
      -DSESE_DB_USE_POSTGRES=ON
      -DSESE_REPLACE_EXECINFO=ON
      -DSESE_RESOURCE=ON
      -DSESE_DB_SQLITE_CONNECTION_STRING="/tmp/db_test.db"
      -DSESE_DB_MYSQL_CONNECTION_STRING="host=mysql\;port=3306\;user=root\;pwd=libsese\;db=db_test\;"
      -DSESE_DB_PSQL_CONNECTION_STRING="host=postgres\;port=5432\;user=postgres\;pwd=libsese\;db=db_test\;"
      -DCMAKE_CXX_FLAGS="--coverage -fprofile-update=atomic"
    - cmake --build build/linux-release -- -j 2
    # init database
    - mysql --user=root --password="$MYSQL_ROOT_PASSWORD" --host=mysql --port=3306 < ./scripts/mysql_dump.sql
    - psql -U postgres -d postgres -h postgres -p 5432 -f ./scripts/postgres_dump.sql
    - sqlite3 /tmp/db_test.db < ./scripts/sqlite_dump.sql
    # run tests
    - build/linux-release/sese/test/AllTestsInMain --gtest_output="xml:build/test_report.xml"
    - sed -i 's|/builds/libsese/sese-core||g' build/test_report.xml
    # make coverage reposts
    - mkdir -p build/coverage/html
    - gcovr --gcov-executable="/usr/lib/llvm17/bin/llvm-cov gcov"
  coverage: /^\s*lines:\s*\d+.\d+\%/
  artifacts:
    name: "${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}"
    paths:
      - build/coverage/html
    reports:
      junit: build/test_report.xml
      coverage_report:
        coverage_format: cobertura
        path: build/coverage/coverage.xml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'sese/**/*'
        - 'CMakeLists.txt'

pages:
  stage: deploy
  image: $CI_REGISTRY/base/roxy
  variables:
    PROJECT_PATH: /builds/libsese/sese-core
    DOXYFILE: docs/Doxyfile
    RESOURCE_FOLDER: static
    OUTPUT_FOLDER: build/html
  script:
    - /usr/local/bin/entrypoint.sh
    - python3 scripts/insert_meta.py --html_file=build/html/index.html --meta_file=docs/Meta.txt
    - mv build/html public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - 'docs/Doxyfile'
        - 'sese/**'
        - 'static/**'
        - 'README.md'

docs: word spelling mistake
  .github/workflows/gh-pages.yml
  docs/Doxyfile
Due: pages

ci: .
  .github/workflows/gh-pages.yml
Due: none

ci: set site icon
  .github/workflows/gh-pages.yml
Due: none

ci: |
  .github/workflows/gh-pages.yml
Due: none

ci: `icon` to `ico`
  .github/workflows/gh-pages.yml
Due: none

ci: add link
  .github/workflows/gh-pages.yml
  .gitlab/ci.yml
  docs/Extra.txt
Due: none

Update Extra.txt
  docs/Extra.txt
Due: none

ci: rename logo file
  .github/workflows/gh-pages.yml
  .gitlab/ci.yml
  docs/Extra.txt
  docs/Meta.txt
Due: none

feat: simdjson with Value API
  cmake/Dependencies.cmake
  sese/CMakeLists.txt
  sese/config/Json.h
  sese/config/SimdJson.cpp
  sese/io/ByteBuilder.h
  sese/util/Value.cpp
  sese/util/Value.h
  vcpkg.json
Due: gtest, pages

test: simdjson with Value API
  sese/config/Json.cpp
  sese/config/SimdJson.cpp
  sese/config/Yaml.cpp
  sese/test/TestJson.cpp
  sese/test/TestYaml.cpp
  sese/util/Value.cpp
  sese/util/Value.h
Due: gtest

backup
  sese/benchmark/BM_JsonParse.cpp
  sese/benchmark/CMakeLists.txt
  sese/util/Value.cpp
Due: gtest

refactor: Value
  .vscode/settings.json
  CMakePresets.json
  sese/config/Json.cpp
  sese/config/Json.h
  sese/config/SimdJson.cpp
  sese/test/TestYaml.cpp
  sese/util/Value.cpp
  sese/util/Value.h
Due: gtest

chore: remove settings.json
  .vscode/settings.json
Due: none

docs: .
  sese/config/Json.h
  sese/util/Value.h
Due: gtest

refactor: Does not use recursive JSON parsing algorithms
  sese/config/Json.cpp
  sese/config/Json.h
  sese/config/SimdJson.cpp
  sese/test/TestJson.cpp
  sese/test/TestService.cpp
Due: gtest

refactor: Does not use recursive JSON streamify algorithms
  sese/benchmark/BM_JsonParse.cpp
  sese/config/Json.cpp
  sese/config/Json.h
  sese/test/TestJson.cpp
  sese/test/TestService.cpp
Due: gtest

refactor: The creation of a process must display the specified parameters
  .gitignore
  sese/example/Json2yml.cpp
  sese/native/unix/system/Process.cpp
  sese/system/Process.cpp
  sese/system/Process.h
  sese/system/ProcessBuilder.cpp
  sese/system/ProcessBuilder.h
  sese/test/TestDNS.cpp
  sese/test/TestFileNotifier.cpp
  sese/test/TestH2spec.cpp
  sese/test/TestIPC/TestIPC.cpp
  sese/test/TestProcess.cpp
  sese/test/TestSharedMemory/TestSharedMemory.cpp
Due: gtest

refactor: Process
  sese/native/unix/system/Process.cpp
  sese/native/win/system/Process.cpp
  sese/system/Process.h
Due: gtest

fix: free `c_args` on execvp fails.
  sese/native/unix/system/Process.cpp
Due: gtest

test: update case
  sese/test/TestFileNotifier.cpp
Due: gtest

chore: add build-essential in docker images
  docker/ubuntu-arm64.dockerfile
  docker/ubuntu-x64.dockerfile
Due: none

fix: If execvp fails, the process should be exited.
  sese/native/unix/system/Process.cpp
Due: gtest

feat: app icon
  .github/workflows/gh-pages.yml
  .gitlab/ci.yml
  schema/resource.schema.json
  scripts/bundler.py
  sese/test/Data/logo.ico
  sese/test/TestResource/Resource.json
Due: gtest

refactor: Does not use recursive yaml parse algorithms
  sese/config/Yaml.cpp
  sese/config/Yaml.h
  sese/test/TestYaml.cpp
Due: gtest

refactor: Does not use recursive yaml streamify algorithms
  sese/config/Json.cpp
  sese/config/Json.h
  sese/config/Yaml.cpp
  sese/config/Yaml.h
  sese/test/TestYaml.cpp
Due: gtest

feat: print formatted `Value`
  sese/config/Json.cpp
  sese/config/Yaml.cpp
  sese/test/Data/data.json
  sese/test/TestJson.cpp
  sese/test/TestValue.cpp
  sese/test/TestYaml.cpp
  sese/util/Value.cpp
  sese/util/Value.h
Due: gtest

docs: update ROADMAP.md
  ROADMAP.md
Due: none

ci: enable_testing() & test presets
  CMakePresets.json
  cmake/Dependencies.cmake
  cmake/Options.cmake
  sese/CMakeLists.txt
  sese/test/TestRingQueue.cpp
Due: gtest, pages
